/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
*/.DS_Store
.DS_Store

# Editor
.calva/
.clj-kondo/
.lsp/

# package
node_modules/

# compile
.shadow-cljs/
resources/public/js
resources/public/css

# env
env.edn
